:root {
    /* --main-bg-color: rgb(75, 63, 80); */
    --head-color: rgb(253, 212, 195);
    --head-bg-color: rgb(38, 30, 49);
    --card-head-color: rgb(243, 242, 233);
    --card-head-bg-color: rgb(73, 65, 102);
    --card-bg-color: rgb(228, 228, 235);
};

* {
    box-sizing: border-box;
}

body {
    background-color: var(--head-color);
}

header {
    background-color: var(--head-bg-color);
}

h1 {
    color: var(--head-color);
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin: 0;
};

.container {
    padding-bottom: 3rem;
}

.card {
    color: var(--card-head-bg-color);
    background-color: var(--card-bg-color);
    margin: 3rem 1.5rem 0;
}

.card-body {
    padding: 0;
}

.card-title {
    color: var(--card-head-color);
    background-color: var(--card-head-bg-color);
    padding: 1rem;
    margin: 0;
};

.list-group {
    width: 100%;
    padding: 0;
    border: 0;
    margin-bottom: 1rem;
};

.team-info {
    list-style: none;
    padding: 0;
    margin: 0;
};

